<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Image/GameSub/GameDDZ/alarm1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1765,765},{115,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,103}</string>
			</dict>
			<key>Image/GameSub/GameDDZ/alarm2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1882,810},{115,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,103}</string>
			</dict>
			<key>Image/GameSub/GameDDZ/banker_flag.png</key>
			<dict>
				<key>frame</key>
				<string>{{1354,653},{32,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>
			<key>Image/GameSub/GameDDZ/btn_double.png</key>
			<dict>
				<key>frame</key>
				<string>{{1283,479},{197,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{197,69}</string>
			</dict>
			<key>Image/GameSub/GameDDZ/btn_gen.png</key>
			<dict>
				<key>frame</key>
				<string>{{1739,1042},{138,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,78}</string>
			</dict>
			<key>Image/GameSub/GameDDZ/btn_no_double.png</key>
			<dict>
				<key>frame</key>
				<string>{{1391,527},{197,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{197,69}</string>
			</dict>
			<key>Image/GameSub/GameDDZ/btn_no_gen.png</key>
			<dict>
				<key>frame</key>
				<string>{{1939,1057},{138,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,78}</string>
			</dict>
			<key>Image/GameSub/GameDDZ/img_bugen.png</key>
			<dict>
				<key>frame</key>
				<string>{{1161,574},{88,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,44}</string>
			</dict>
			<key>Image/GameSub/GameDDZ/img_bujiabei.png</key>
			<dict>
				<key>frame</key>
				<string>{{1999,466},{132,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{132,46}</string>
			</dict>
			<key>Image/GameSub/GameDDZ/img_gen.png</key>
			<dict>
				<key>frame</key>
				<string>{{1649,824},{46,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,43}</string>
			</dict>
			<key>Image/GameSub/GameDDZ/img_jiabei.png</key>
			<dict>
				<key>frame</key>
				<string>{{1161,244},{89,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,46}</string>
			</dict>
			<key>Image/GameSub/GameDDZ/play_alarm_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1819,1057},{118,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,99}</string>
			</dict>
			<key>Image/GameSub/GameDDZ/play_bomb.png</key>
			<dict>
				<key>frame</key>
				<string>{{1354,525},{35,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,44}</string>
			</dict>
			<key>Image/GameSub/GameDDZ/play_bomb_times.png</key>
			<dict>
				<key>frame</key>
				<string>{{1856,624},{60,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,28}</string>
			</dict>
			<key>Image/GameSub/GameDDZ/play_bomb_x.png</key>
			<dict>
				<key>frame</key>
				<string>{{2026,1},{19,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,24}</string>
			</dict>
			<key>Image/GameSub/GameDDZ/play_bomb_x2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2026,27},{15,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{15,18}</string>
			</dict>
			<key>Image/GameSub/GameDDZ/play_bombup_limit.png</key>
			<dict>
				<key>frame</key>
				<string>{{1677,629},{108,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,27}</string>
			</dict>
			<key>Image/GameSub/GameDDZ/play_btn_agree_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{1785,555},{208,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{208,69}</string>
			</dict>
			<key>Image/GameSub/GameDDZ/play_btn_grap_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{1283,678},{197,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{197,69}</string>
			</dict>
			<key>Image/GameSub/GameDDZ/play_btn_grap_pressed.png</key>
			<dict>
				<key>frame</key>
				<string>{{1462,527},{197,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{197,69}</string>
			</dict>
			<key>Image/GameSub/GameDDZ/play_btn_next.png</key>
			<dict>
				<key>frame</key>
				<string>{{995,244},{230,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{230,78}</string>
			</dict>
			<key>Image/GameSub/GameDDZ/play_btn_nograp_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{1578,713},{197,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{197,69}</string>
			</dict>
			<key>Image/GameSub/GameDDZ/play_btn_nograp_pressed.png</key>
			<dict>
				<key>frame</key>
				<string>{{1694,750},{197,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{197,69}</string>
			</dict>
			<key>Image/GameSub/GameDDZ/play_btn_one_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{1819,1158},{137,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{137,69}</string>
			</dict>
			<key>Image/GameSub/GameDDZ/play_btn_one_pressed.png</key>
			<dict>
				<key>frame</key>
				<string>{{1890,1197},{137,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,69}</string>
			</dict>
			<key>Image/GameSub/GameDDZ/play_btn_pass_disabled.png</key>
			<dict>
				<key>frame</key>
				<string>{{1075,244},{177,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{177,84}</string>
			</dict>
			<key>Image/GameSub/GameDDZ/play_btn_pass_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{1765,870},{170,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{170,69}</string>
			</dict>
			<key>Image/GameSub/GameDDZ/play_btn_pass_pressed.png</key>
			<dict>
				<key>frame</key>
				<string>{{1836,915},{170,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,69}</string>
			</dict>
			<key>Image/GameSub/GameDDZ/play_btn_play_disabled.png</key>
			<dict>
				<key>frame</key>
				<string>{{1217,393},{177,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{177,84}</string>
			</dict>
			<key>Image/GameSub/GameDDZ/play_btn_play_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{1836,986},{170,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,69}</string>
			</dict>
			<key>Image/GameSub/GameDDZ/play_btn_play_pressed.png</key>
			<dict>
				<key>frame</key>
				<string>{{1354,726},{170,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,69}</string>
			</dict>
			<key>Image/GameSub/GameDDZ/play_btn_prompt_disabled.png</key>
			<dict>
				<key>frame</key>
				<string>{{1075,423},{177,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{177,84}</string>
			</dict>
			<key>Image/GameSub/GameDDZ/play_btn_prompt_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{1354,797},{170,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,69}</string>
			</dict>
			<key>Image/GameSub/GameDDZ/play_btn_prompt_pressed.png</key>
			<dict>
				<key>frame</key>
				<string>{{1354,868},{170,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,69}</string>
			</dict>
			<key>Image/GameSub/GameDDZ/play_btn_ready_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{1526,912},{170,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{170,69}</string>
			</dict>
			<key>Image/GameSub/GameDDZ/play_btn_refuse_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{1212,479},{208,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{208,69}</string>
			</dict>
			<key>Image/GameSub/GameDDZ/play_btn_reset_disabled.png</key>
			<dict>
				<key>frame</key>
				<string>{{1396,441},{177,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{177,84}</string>
			</dict>
			<key>Image/GameSub/GameDDZ/play_btn_reset_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{1597,912},{170,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{170,69}</string>
			</dict>
			<key>Image/GameSub/GameDDZ/play_btn_reset_pressed.png</key>
			<dict>
				<key>frame</key>
				<string>{{1668,949},{170,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{170,69}</string>
			</dict>
			<key>Image/GameSub/GameDDZ/play_btn_start_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{1891,121},{304,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{304,85}</string>
			</dict>
			<key>Image/GameSub/GameDDZ/play_btn_start_pressed.png</key>
			<dict>
				<key>frame</key>
				<string>{{1406,240},{304,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{304,85}</string>
			</dict>
			<key>Image/GameSub/GameDDZ/play_btn_three_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{1890,1268},{137,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,69}</string>
			</dict>
			<key>Image/GameSub/GameDDZ/play_btn_three_pressed.png</key>
			<dict>
				<key>frame</key>
				<string>{{747,319},{137,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,69}</string>
			</dict>
			<key>Image/GameSub/GameDDZ/play_btn_two_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{886,319},{137,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{137,69}</string>
			</dict>
			<key>Image/GameSub/GameDDZ/play_btn_two_pressed.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,358},{137,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,69}</string>
			</dict>
			<key>Image/GameSub/GameDDZ/play_btn_voice_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{694,390},{89,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,95}</string>
			</dict>
			<key>Image/GameSub/GameDDZ/play_btn_voice_pressed.png</key>
			<dict>
				<key>frame</key>
				<string>{{791,390},{89,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,95}</string>
			</dict>
			<key>Image/GameSub/GameDDZ/play_buchu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1533,639},{85,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,43}</string>
			</dict>
			<key>Image/GameSub/GameDDZ/play_cardType_chuntian.png</key>
			<dict>
				<key>frame</key>
				<string>{{1886,427},{190,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{190,111}</string>
			</dict>
			<key>Image/GameSub/GameDDZ/play_cardType_feiji.png</key>
			<dict>
				<key>frame</key>
				<string>{{1406,327},{191,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{191,112}</string>
			</dict>
			<key>Image/GameSub/GameDDZ/play_cardType_liandui.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,244},{190,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,112}</string>
			</dict>
			<key>Image/GameSub/GameDDZ/play_cardType_shunzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1886,619},{189,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{189,111}</string>
			</dict>
			<key>Image/GameSub/GameDDZ/play_cardType_wangzha.png</key>
			<dict>
				<key>frame</key>
				<string>{{1599,327},{189,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{189,111}</string>
			</dict>
			<key>Image/GameSub/GameDDZ/play_chat_bg_left.png</key>
			<dict>
				<key>frame</key>
				<string>{{1712,240},{313,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{313,70}</string>
			</dict>
			<key>Image/GameSub/GameDDZ/play_chat_bg_right.png</key>
			<dict>
				<key>frame</key>
				<string>{{1784,240},{313,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{313,70}</string>
			</dict>
			<key>Image/GameSub/GameDDZ/play_cur_times_up_limit.png</key>
			<dict>
				<key>frame</key>
				<string>{{1856,513},{109,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,28}</string>
			</dict>
			<key>Image/GameSub/GameDDZ/play_flag_doudizhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1354,571},{35,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,41}</string>
			</dict>
			<key>Image/GameSub/GameDDZ/play_flag_landlord.png</key>
			<dict>
				<key>frame</key>
				<string>{{1526,800},{49,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,55}</string>
			</dict>
			<key>Image/GameSub/GameDDZ/play_flag_lose.png</key>
			<dict>
				<key>frame</key>
				<string>{{1223,121},{666,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{666,117}</string>
			</dict>
			<key>Image/GameSub/GameDDZ/play_flag_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,1},{666,241}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{666,241}</string>
			</dict>
			<key>Image/GameSub/GameDDZ/play_grab.png</key>
			<dict>
				<key>frame</key>
				<string>{{1999,733},{127,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{127,44}</string>
			</dict>
			<key>Image/GameSub/GameDDZ/play_integral_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1575,441},{107,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{107,22}</string>
			</dict>
			<key>Image/GameSub/GameDDZ/play_jiaodizhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1856,240},{146,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{146,28}</string>
			</dict>
			<key>Image/GameSub/GameDDZ/play_no_rob.png</key>
			<dict>
				<key>frame</key>
				<string>{{1533,550},{87,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,43}</string>
			</dict>
			<key>Image/GameSub/GameDDZ/play_nograb.png</key>
			<dict>
				<key>frame</key>
				<string>{{1649,739},{83,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{83,43}</string>
			</dict>
			<key>Image/GameSub/GameDDZ/play_offline_sign.png</key>
			<dict>
				<key>frame</key>
				<string>{{1856,686},{51,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,26}</string>
			</dict>
			<key>Image/GameSub/GameDDZ/play_ok_sprite.png</key>
			<dict>
				<key>frame</key>
				<string>{{1354,479},{40,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,44}</string>
			</dict>
			<key>Image/GameSub/GameDDZ/play_one_score.png</key>
			<dict>
				<key>frame</key>
				<string>{{1526,726},{72,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,49}</string>
			</dict>
			<key>Image/GameSub/GameDDZ/play_operation_bubble_left.png</key>
			<dict>
				<key>frame</key>
				<string>{{1599,518},{193,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{193,76}</string>
			</dict>
			<key>Image/GameSub/GameDDZ/play_operation_bubble_right.png</key>
			<dict>
				<key>frame</key>
				<string>{{1707,555},{193,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{193,76}</string>
			</dict>
			<key>Image/GameSub/GameDDZ/play_poker_shadow.png</key>
			<dict>
				<key>frame</key>
				<string>{{1161,335},{54,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,73}</string>
			</dict>
			<key>Image/GameSub/GameDDZ/play_rob.png</key>
			<dict>
				<key>frame</key>
				<string>{{1999,600},{131,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{131,43}</string>
			</dict>
			<key>Image/GameSub/GameDDZ/play_round_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{552,437}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{552,437}</string>
			</dict>
			<key>Image/GameSub/GameDDZ/play_sameip_tip_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1223,1},{774,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{774,118}</string>
			</dict>
			<key>Image/GameSub/GameDDZ/play_score.png</key>
			<dict>
				<key>frame</key>
				<string>{{1354,614},{35,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,37}</string>
			</dict>
			<key>Image/GameSub/GameDDZ/play_score_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{1856,388},{123,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{123,28}</string>
			</dict>
			<key>Image/GameSub/GameDDZ/play_three_score.png</key>
			<dict>
				<key>frame</key>
				<string>{{1161,410},{80,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,49}</string>
			</dict>
			<key>Image/GameSub/GameDDZ/play_times_up_limit.png</key>
			<dict>
				<key>frame</key>
				<string>{{1677,518},{109,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,28}</string>
			</dict>
			<key>Image/GameSub/GameDDZ/play_two_player_tipbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1999,1},{463,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{463,25}</string>
			</dict>
			<key>Image/GameSub/GameDDZ/play_two_score.png</key>
			<dict>
				<key>frame</key>
				<string>{{1161,492},{80,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,49}</string>
			</dict>
			<key>Image/GameSub/GameDDZ/boom.png</key>
			<dict>
				<key>frame</key>
				<string>{{1223,240},{181,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{181,151}</string>
			</dict>
			<key>Image/GameSub/GameDDZ/game_btn_startGame.png</key>
			<dict>
				<key>frame</key>
				<string>{{747,244},{246,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{246,73}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>GameDDZ.png</string>
			<key>realTextureFileName</key>
			<string>GameDDZ.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>