<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Image/GameSub/GameZJH/add.png</key>
			<dict>
				<key>frame</key>
				<string>{{957,108},{103,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,103}</string>
			</dict>
			<key>Image/GameSub/GameZJH/arrowLeft.png</key>
			<dict>
				<key>frame</key>
				<string>{{925,935},{19,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{19,36}</string>
			</dict>
			<key>Image/GameSub/GameZJH/arrowRight.png</key>
			<dict>
				<key>frame</key>
				<string>{{925,956},{19,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{19,36}</string>
			</dict>
			<key>Image/GameSub/GameZJH/back.png</key>
			<dict>
				<key>frame</key>
				<string>{{1977,556},{248,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{248,67}</string>
			</dict>
			<key>Image/GameSub/GameZJH/baozi.png</key>
			<dict>
				<key>frame</key>
				<string>{{818,240},{95,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,52}</string>
			</dict>
			<key>Image/GameSub/GameZJH/beiban.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,713},{283,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{283,123}</string>
			</dict>
			<key>Image/GameSub/GameZJH/bigWinner.png</key>
			<dict>
				<key>frame</key>
				<string>{{960,294},{114,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,91}</string>
			</dict>
			<key>Image/GameSub/GameZJH/bipaiFont.png</key>
			<dict>
				<key>frame</key>
				<string>{{860,475},{155,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,82}</string>
			</dict>
			<key>Image/GameSub/GameZJH/bottomLeft.png</key>
			<dict>
				<key>frame</key>
				<string>{{1691,865},{346,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{346,127}</string>
			</dict>
			<key>Image/GameSub/GameZJH/bottomRight.png</key>
			<dict>
				<key>frame</key>
				<string>{{1088,815},{470,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{470,127}</string>
			</dict>
			<key>Image/GameSub/GameZJH/btn_end.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,873},{294,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{294,91}</string>
			</dict>
			<key>Image/GameSub/GameZJH/butiBnt.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,1},{103,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,103}</string>
			</dict>
			<key>Image/GameSub/GameZJH/cardBack.png</key>
			<dict>
				<key>frame</key>
				<string>{{775,111},{89,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,127}</string>
			</dict>
			<key>Image/GameSub/GameZJH/cardLose.png</key>
			<dict>
				<key>frame</key>
				<string>{{866,111},{89,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,127}</string>
			</dict>
			<key>Image/GameSub/GameZJH/chip01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1977,806},{57,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,59}</string>
			</dict>
			<key>Image/GameSub/GameZJH/chip02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1468,1},{57,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,59}</string>
			</dict>
			<key>Image/GameSub/GameZJH/chip03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1437,123},{57,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,59}</string>
			</dict>
			<key>Image/GameSub/GameZJH/chip04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1451,184},{57,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,59}</string>
			</dict>
			<key>Image/GameSub/GameZJH/chip05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1496,123},{57,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,59}</string>
			</dict>
			<key>Image/GameSub/GameZJH/chip06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1497,62},{57,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,59}</string>
			</dict>
			<key>Image/GameSub/GameZJH/chip08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1527,1},{57,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,59}</string>
			</dict>
			<key>Image/GameSub/GameZJH/chip10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1451,245},{57,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,59}</string>
			</dict>
			<key>Image/GameSub/GameZJH/chip12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1158,476},{58,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,59}</string>
			</dict>
			<key>Image/GameSub/GameZJH/chip13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1218,476},{58,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,59}</string>
			</dict>
			<key>Image/GameSub/GameZJH/chip15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1473,356},{57,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,59}</string>
			</dict>
			<key>Image/GameSub/GameZJH/chip16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1278,474},{58,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,59}</string>
			</dict>
			<key>Image/GameSub/GameZJH/chip18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1338,474},{58,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,59}</string>
			</dict>
			<key>Image/GameSub/GameZJH/chip20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1503,417},{57,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,59}</string>
			</dict>
			<key>Image/GameSub/GameZJH/chip23.png</key>
			<dict>
				<key>frame</key>
				<string>{{1377,106},{58,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,59}</string>
			</dict>
			<key>Image/GameSub/GameZJH/chip25.png</key>
			<dict>
				<key>frame</key>
				<string>{{1503,478},{57,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,59}</string>
			</dict>
			<key>Image/GameSub/GameZJH/chip30.png</key>
			<dict>
				<key>frame</key>
				<string>{{1586,1},{57,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,59}</string>
			</dict>
			<key>Image/GameSub/GameZJH/chip35.png</key>
			<dict>
				<key>frame</key>
				<string>{{1586,60},{57,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,59}</string>
			</dict>
			<key>Image/GameSub/GameZJH/chip40.png</key>
			<dict>
				<key>frame</key>
				<string>{{1562,119},{57,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,59}</string>
			</dict>
			<key>Image/GameSub/GameZJH/chip45.png</key>
			<dict>
				<key>frame</key>
				<string>{{1562,178},{57,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,59}</string>
			</dict>
			<key>Image/GameSub/GameZJH/chip50.png</key>
			<dict>
				<key>frame</key>
				<string>{{1743,62},{56,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,59}</string>
			</dict>
			<key>Image/GameSub/GameZJH/chipBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{1560,815},{150,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,51}</string>
			</dict>
			<key>Image/GameSub/GameZJH/commonCard_flag.png</key>
			<dict>
				<key>frame</key>
				<string>{{1463,944},{78,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,82}</string>
			</dict>
			<key>Image/GameSub/GameZJH/copy.png</key>
			<dict>
				<key>frame</key>
				<string>{{1673,581},{227,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,60}</string>
			</dict>
			<key>Image/GameSub/GameZJH/dismiss.png</key>
			<dict>
				<key>frame</key>
				<string>{{1613,865},{89,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,71}</string>
			</dict>
			<key>Image/GameSub/GameZJH/doubleWang.png</key>
			<dict>
				<key>frame</key>
				<string>{{695,966},{97,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,55}</string>
			</dict>
			<key>Image/GameSub/GameZJH/duizi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1012,213},{95,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,51}</string>
			</dict>
			<key>Image/GameSub/GameZJH/end.png</key>
			<dict>
				<key>frame</key>
				<string>{{1902,581},{276,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{276,73}</string>
			</dict>
			<key>Image/GameSub/GameZJH/font_baozi.png</key>
			<dict>
				<key>frame</key>
				<string>{{425,977},{82,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,41}</string>
			</dict>
			<key>Image/GameSub/GameZJH/font_duizi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1278,535},{81,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,40}</string>
			</dict>
			<key>Image/GameSub/GameZJH/font_jinhua.png</key>
			<dict>
				<key>frame</key>
				<string>{{734,253},{82,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,40}</string>
			</dict>
			<key>Image/GameSub/GameZJH/font_sanpai.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,977},{83,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,42}</string>
			</dict>
			<key>Image/GameSub/GameZJH/font_santiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1832,643},{99,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,55}</string>
			</dict>
			<key>Image/GameSub/GameZJH/font_shuangwang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1832,744},{99,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,55}</string>
			</dict>
			<key>Image/GameSub/GameZJH/font_shunjin.png</key>
			<dict>
				<key>frame</key>
				<string>{{649,253},{83,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,40}</string>
			</dict>
			<key>Image/GameSub/GameZJH/font_shunzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1205,211},{82,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,40}</string>
			</dict>
			<key>Image/GameSub/GameZJH/font_sitiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{556,423},{99,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,55}</string>
			</dict>
			<key>Image/GameSub/GameZJH/font_wangzhongpao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1547,967},{142,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,55}</string>
			</dict>
			<key>Image/GameSub/GameZJH/genBtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1062,106},{103,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,103}</string>
			</dict>
			<key>Image/GameSub/GameZJH/giveup.png</key>
			<dict>
				<key>frame</key>
				<string>{{1562,237},{57,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,59}</string>
			</dict>
			<key>Image/GameSub/GameZJH/giveupBtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1093,1},{103,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,103}</string>
			</dict>
			<key>Image/GameSub/GameZJH/giveupSettle.png</key>
			<dict>
				<key>frame</key>
				<string>{{556,480},{150,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,92}</string>
			</dict>
			<key>Image/GameSub/GameZJH/grail.png</key>
			<dict>
				<key>frame</key>
				<string>{{884,1},{102,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,105}</string>
			</dict>
			<key>Image/GameSub/GameZJH/grayAdd.png</key>
			<dict>
				<key>frame</key>
				<string>{{1076,266},{103,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,103}</string>
			</dict>
			<key>Image/GameSub/GameZJH/grayChip01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1510,296},{57,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,59}</string>
			</dict>
			<key>Image/GameSub/GameZJH/grayChip02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1532,355},{57,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,59}</string>
			</dict>
			<key>Image/GameSub/GameZJH/grayChip03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1571,296},{57,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,59}</string>
			</dict>
			<key>Image/GameSub/GameZJH/grayChip04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1562,416},{57,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,59}</string>
			</dict>
			<key>Image/GameSub/GameZJH/grayChip05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1562,475},{57,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,59}</string>
			</dict>
			<key>Image/GameSub/GameZJH/grayChip06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1591,355},{57,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,59}</string>
			</dict>
			<key>Image/GameSub/GameZJH/grayChip08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1623,416},{57,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,59}</string>
			</dict>
			<key>Image/GameSub/GameZJH/grayChip10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1623,119},{57,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,59}</string>
			</dict>
			<key>Image/GameSub/GameZJH/grayChip12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1377,167},{58,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,59}</string>
			</dict>
			<key>Image/GameSub/GameZJH/grayChip13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1408,1},{58,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,59}</string>
			</dict>
			<key>Image/GameSub/GameZJH/grayChip15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1647,1},{57,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,59}</string>
			</dict>
			<key>Image/GameSub/GameZJH/grayChip16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1391,228},{58,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,59}</string>
			</dict>
			<key>Image/GameSub/GameZJH/grayChip18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1391,289},{58,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,59}</string>
			</dict>
			<key>Image/GameSub/GameZJH/grayChip20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1623,180},{57,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,59}</string>
			</dict>
			<key>Image/GameSub/GameZJH/grayChip23.png</key>
			<dict>
				<key>frame</key>
				<string>{{1437,62},{58,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,59}</string>
			</dict>
			<key>Image/GameSub/GameZJH/grayChip25.png</key>
			<dict>
				<key>frame</key>
				<string>{{1632,241},{57,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,59}</string>
			</dict>
			<key>Image/GameSub/GameZJH/grayChip30.png</key>
			<dict>
				<key>frame</key>
				<string>{{1650,302},{57,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,59}</string>
			</dict>
			<key>Image/GameSub/GameZJH/grayChip35.png</key>
			<dict>
				<key>frame</key>
				<string>{{1682,363},{57,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,59}</string>
			</dict>
			<key>Image/GameSub/GameZJH/grayChip40.png</key>
			<dict>
				<key>frame</key>
				<string>{{1682,424},{57,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,59}</string>
			</dict>
			<key>Image/GameSub/GameZJH/grayChip45.png</key>
			<dict>
				<key>frame</key>
				<string>{{1682,62},{57,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,59}</string>
			</dict>
			<key>Image/GameSub/GameZJH/grayChip50.png</key>
			<dict>
				<key>frame</key>
				<string>{{1706,1},{57,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,59}</string>
			</dict>
			<key>Image/GameSub/GameZJH/grayGen.png</key>
			<dict>
				<key>frame</key>
				<string>{{1167,106},{103,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,103}</string>
			</dict>
			<key>Image/GameSub/GameZJH/grayGiveup.png</key>
			<dict>
				<key>frame</key>
				<string>{{1198,1},{103,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,103}</string>
			</dict>
			<key>Image/GameSub/GameZJH/grayPK.png</key>
			<dict>
				<key>frame</key>
				<string>{{1158,371},{103,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,103}</string>
			</dict>
			<key>Image/GameSub/GameZJH/grayRead.png</key>
			<dict>
				<key>frame</key>
				<string>{{1181,264},{103,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,103}</string>
			</dict>
			<key>Image/GameSub/GameZJH/guang.png</key>
			<dict>
				<key>frame</key>
				<string>{{794,873},{129,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,129}</string>
			</dict>
			<key>Image/GameSub/GameZJH/headBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{775,1},{108,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,107}</string>
			</dict>
			<key>Image/GameSub/GameZJH/image_bottom.png</key>
			<dict>
				<key>frame</key>
				<string>{{509,966},{184,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,50}</string>
			</dict>
			<key>Image/GameSub/GameZJH/invite.png</key>
			<dict>
				<key>frame</key>
				<string>{{1900,251},{227,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{227,60}</string>
			</dict>
			<key>Image/GameSub/GameZJH/jinhua.png</key>
			<dict>
				<key>frame</key>
				<string>{{1109,211},{94,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,51}</string>
			</dict>
			<key>Image/GameSub/GameZJH/kengpai.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,423},{99,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,55}</string>
			</dict>
			<key>Image/GameSub/GameZJH/kouBtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1272,106},{103,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,103}</string>
			</dict>
			<key>Image/GameSub/GameZJH/languoBnt.png</key>
			<dict>
				<key>frame</key>
				<string>{{1673,488},{294,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{294,91}</string>
			</dict>
			<key>Image/GameSub/GameZJH/lankengFont.png</key>
			<dict>
				<key>frame</key>
				<string>{{858,389},{163,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{163,84}</string>
			</dict>
			<key>Image/GameSub/GameZJH/lose.png</key>
			<dict>
				<key>frame</key>
				<string>{{1682,121},{57,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,59}</string>
			</dict>
			<key>Image/GameSub/GameZJH/loseSettle.png</key>
			<dict>
				<key>frame</key>
				<string>{{708,480},{150,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,92}</string>
			</dict>
			<key>Image/GameSub/GameZJH/messageBtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1303,1},{103,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,103}</string>
			</dict>
			<key>Image/GameSub/GameZJH/nameBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,977},{216,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,40}</string>
			</dict>
			<key>Image/GameSub/GameZJH/next.png</key>
			<dict>
				<key>frame</key>
				<string>{{556,1},{294,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{294,91}</string>
			</dict>
			<key>Image/GameSub/GameZJH/owner.png</key>
			<dict>
				<key>frame</key>
				<string>{{1451,306},{48,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,45}</string>
			</dict>
			<key>Image/GameSub/GameZJH/pingSettle.png</key>
			<dict>
				<key>frame</key>
				<string>{{1017,475},{139,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,82}</string>
			</dict>
			<key>Image/GameSub/GameZJH/pkBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{718,388}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{718,388}</string>
			</dict>
			<key>Image/GameSub/GameZJH/pkBtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1263,369},{103,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,103}</string>
			</dict>
			<key>Image/GameSub/GameZJH/playerBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,1},{574,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{574,163}</string>
			</dict>
			<key>Image/GameSub/GameZJH/playerInfoBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,721},{254,495}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{254,495}</string>
			</dict>
			<key>Image/GameSub/GameZJH/read.png</key>
			<dict>
				<key>frame</key>
				<string>{{1682,182},{57,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,59}</string>
			</dict>
			<key>Image/GameSub/GameZJH/readBtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1286,253},{103,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,103}</string>
			</dict>
			<key>Image/GameSub/GameZJH/sanpai.png</key>
			<dict>
				<key>frame</key>
				<string>{{1023,387},{94,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,56}</string>
			</dict>
			<key>Image/GameSub/GameZJH/score.png</key>
			<dict>
				<key>frame</key>
				<string>{{925,873},{60,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,33}</string>
			</dict>
			<key>Image/GameSub/GameZJH/setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{1969,465},{89,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,71}</string>
			</dict>
			<key>Image/GameSub/GameZJH/share.png</key>
			<dict>
				<key>frame</key>
				<string>{{1900,1},{248,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{248,67}</string>
			</dict>
			<key>Image/GameSub/GameZJH/shunjin.png</key>
			<dict>
				<key>frame</key>
				<string>{{758,421},{98,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,55}</string>
			</dict>
			<key>Image/GameSub/GameZJH/shunzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{915,240},{95,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,52}</string>
			</dict>
			<key>Image/GameSub/GameZJH/stageLight.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,713},{158,463}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{158,463}</string>
			</dict>
			<key>Image/GameSub/GameZJH/startGame.png</key>
			<dict>
				<key>frame</key>
				<string>{{1969,1},{230,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{230,76}</string>
			</dict>
			<key>Image/GameSub/GameZJH/startGameDown.png</key>
			<dict>
				<key>frame</key>
				<string>{{1969,233},{230,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{230,76}</string>
			</dict>
			<key>Image/GameSub/GameZJH/TDKFont.png</key>
			<dict>
				<key>frame</key>
				<string>{{1088,944},{373,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{373,60}</string>
			</dict>
			<key>Image/GameSub/GameZJH/topBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,647},{701,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{701,64}</string>
			</dict>
			<key>Image/GameSub/GameZJH/totalScore.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,977},{119,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,46}</string>
			</dict>
			<key>Image/GameSub/GameZJH/voiceBtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1368,358},{103,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,103}</string>
			</dict>
			<key>Image/GameSub/GameZJH/vs.png</key>
			<dict>
				<key>frame</key>
				<string>{{1094,647},{519,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{519,166}</string>
			</dict>
			<key>Image/GameSub/GameZJH/win.png</key>
			<dict>
				<key>frame</key>
				<string>{{1741,121},{57,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,59}</string>
			</dict>
			<key>Image/GameSub/GameZJH/winLight.png</key>
			<dict>
				<key>frame</key>
				<string>{{1615,647},{215,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{215,216}</string>
			</dict>
			<key>Image/GameSub/GameZJH/winSettle.png</key>
			<dict>
				<key>frame</key>
				<string>{{808,295},{150,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,92}</string>
			</dict>
			<key>Image/GameSub/GameZJH/xiazhuBtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1398,463},{103,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,103}</string>
			</dict>
			<key>Image/GameSub/GameZJH/ZJHFont.png</key>
			<dict>
				<key>frame</key>
				<string>{{1832,1},{485,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{485,66}</string>
			</dict>
			<key>Image/GameSub/GameZJH/timebg.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,577},{1280,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1280,68}</string>
			</dict>
			<key>Image/GameSub/GameZJH/animPokerLight1.png</key>
			<dict>
				<key>frame</key>
				<string>{{556,297},{124,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,124}</string>
			</dict>
			<key>Image/GameSub/GameZJH/animPokerLight2.png</key>
			<dict>
				<key>frame</key>
				<string>{{649,1},{124,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,124}</string>
			</dict>
			<key>Image/GameSub/GameZJH/animPokerLight3.png</key>
			<dict>
				<key>frame</key>
				<string>{{649,127},{124,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,124}</string>
			</dict>
			<key>Image/GameSub/GameZJH/animPokerLight4.png</key>
			<dict>
				<key>frame</key>
				<string>{{682,295},{124,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,124}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>GameZJH.png</string>
			<key>realTextureFileName</key>
			<string>GameZJH.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>