<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Image/Animation/Emotions/Emotion1_duration1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1057,583},{55,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,67}</string>
			</dict>
			<key>Image/Animation/Emotions/Emotion1_end1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,877},{154,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,136}</string>
			</dict>
			<key>Image/Animation/Emotions/Emotion1_end2.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,877},{154,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,136}</string>
			</dict>
			<key>Image/Animation/Emotions/Emotion1_end3.png</key>
			<dict>
				<key>frame</key>
				<string>{{313,873},{154,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,136}</string>
			</dict>
			<key>Image/Animation/Emotions/Emotion1_end4.png</key>
			<dict>
				<key>frame</key>
				<string>{{469,873},{154,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,136}</string>
			</dict>
			<key>Image/Animation/Emotions/Emotion1_end5.png</key>
			<dict>
				<key>frame</key>
				<string>{{625,873},{154,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,136}</string>
			</dict>
			<key>Image/Animation/Emotions/Emotion1_end6.png</key>
			<dict>
				<key>frame</key>
				<string>{{781,861},{154,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{154,136}</string>
			</dict>
			<key>Image/Animation/Emotions/Emotion1_end7.png</key>
			<dict>
				<key>frame</key>
				<string>{{919,861},{154,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{154,136}</string>
			</dict>
			<key>Image/Animation/Emotions/Emotion1_end8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1057,840},{154,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{154,136}</string>
			</dict>
			<key>Image/Animation/Emotions/Emotion1_start1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1437,1},{89,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,71}</string>
			</dict>
			<key>Image/Animation/Emotions/Emotion1_start2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1437,92},{89,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,71}</string>
			</dict>
			<key>Image/Animation/Emotions/Emotion1_start3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1437,183},{89,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,71}</string>
			</dict>
			<key>Image/Animation/Emotions/Emotion1_start4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1510,191},{89,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,71}</string>
			</dict>
			<key>Image/Animation/Emotions/Emotion1_start5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1601,191},{89,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,71}</string>
			</dict>
			<key>Image/Animation/Emotions/Emotion1_start6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1692,191},{89,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,71}</string>
			</dict>
			<key>Image/Animation/Emotions/Emotion2_duration1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1588,579},{36,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,36}</string>
			</dict>
			<key>Image/Animation/Emotions/Emotion2_duration2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1627,425},{36,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,36}</string>
			</dict>
			<key>Image/Animation/Emotions/Emotion2_end1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{217,217}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,217}</string>
			</dict>
			<key>Image/Animation/Emotions/Emotion2_end2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,220},{217,217}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,217}</string>
			</dict>
			<key>Image/Animation/Emotions/Emotion2_end3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,439},{217,217}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,217}</string>
			</dict>
			<key>Image/Animation/Emotions/Emotion2_end4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,658},{217,217}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,217}</string>
			</dict>
			<key>Image/Animation/Emotions/Emotion2_end5.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,1},{217,217}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,217}</string>
			</dict>
			<key>Image/Animation/Emotions/Emotion2_end6.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,220},{217,217}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,217}</string>
			</dict>
			<key>Image/Animation/Emotions/Emotion2_end7.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,439},{217,217}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,217}</string>
			</dict>
			<key>Image/Animation/Emotions/Emotion2_start1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1437,468},{165,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{165,109}</string>
			</dict>
			<key>Image/Animation/Emotions/Emotion2_start2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1604,468},{165,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{165,109}</string>
			</dict>
			<key>Image/Animation/Emotions/Emotion2_start3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1614,617},{165,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{165,109}</string>
			</dict>
			<key>Image/Animation/Emotions/Emotion2_start4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1700,784},{165,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{165,109}</string>
			</dict>
			<key>Image/Animation/Emotions/Emotion2_start5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1725,579},{165,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{165,109}</string>
			</dict>
			<key>Image/Animation/Emotions/Emotion3_duration1.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,658},{213,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{213,204}</string>
			</dict>
			<key>Image/Animation/Emotions/Emotion3_duration2.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,658},{213,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{213,204}</string>
			</dict>
			<key>Image/Animation/Emotions/Emotion3_duration3.png</key>
			<dict>
				<key>frame</key>
				<string>{{439,1},{213,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{213,204}</string>
			</dict>
			<key>Image/Animation/Emotions/Emotion3_duration4.png</key>
			<dict>
				<key>frame</key>
				<string>{{439,216},{213,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{213,204}</string>
			</dict>
			<key>Image/Animation/Emotions/Emotion3_end1.png</key>
			<dict>
				<key>frame</key>
				<string>{{439,431},{213,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{213,204}</string>
			</dict>
			<key>Image/Animation/Emotions/Emotion3_end2.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,646},{213,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{213,204}</string>
			</dict>
			<key>Image/Animation/Emotions/Emotion3_end3.png</key>
			<dict>
				<key>frame</key>
				<string>{{645,1},{213,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{213,204}</string>
			</dict>
			<key>Image/Animation/Emotions/Emotion3_end4.png</key>
			<dict>
				<key>frame</key>
				<string>{{645,216},{213,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{213,204}</string>
			</dict>
			<key>Image/Animation/Emotions/Emotion3_end5.png</key>
			<dict>
				<key>frame</key>
				<string>{{645,431},{213,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{213,204}</string>
			</dict>
			<key>Image/Animation/Emotions/Emotion3_end6.png</key>
			<dict>
				<key>frame</key>
				<string>{{838,646},{213,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{213,204}</string>
			</dict>
			<key>Image/Animation/Emotions/Emotion3_end7.png</key>
			<dict>
				<key>frame</key>
				<string>{{851,1},{213,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{213,204}</string>
			</dict>
			<key>Image/Animation/Emotions/Emotion3_end8.png</key>
			<dict>
				<key>frame</key>
				<string>{{851,216},{213,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{213,204}</string>
			</dict>
			<key>Image/Animation/Emotions/Emotion3_end9.png</key>
			<dict>
				<key>frame</key>
				<string>{{851,431},{213,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{213,204}</string>
			</dict>
			<key>Image/Animation/Emotions/Emotion4_duration1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1126,583},{36,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{36,75}</string>
			</dict>
			<key>Image/Animation/Emotions/Emotion4_end1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1195,840},{159,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{159,123}</string>
			</dict>
			<key>Image/Animation/Emotions/Emotion4_end2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1627,264},{159,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{159,123}</string>
			</dict>
			<key>Image/Animation/Emotions/Emotion4_end3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1752,264},{159,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{159,123}</string>
			</dict>
			<key>Image/Animation/Emotions/Emotion4_end4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1705,1},{159,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{159,123}</string>
			</dict>
			<key>Image/Animation/Emotions/Emotion4_end5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1830,1},{159,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,123}</string>
			</dict>
			<key>Image/Animation/Emotions/Emotion4_end6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1830,126},{159,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,123}</string>
			</dict>
			<key>Image/Animation/Emotions/Emotion4_start1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1203,583},{36,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{36,75}</string>
			</dict>
			<key>Image/Animation/Emotions/Emotion4_start2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1280,583},{36,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{36,75}</string>
			</dict>
			<key>Image/Animation/Emotions/Emotion4_start3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1357,583},{36,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{36,75}</string>
			</dict>
			<key>Image/Animation/Emotions/Emotion4_start4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1434,583},{36,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{36,75}</string>
			</dict>
			<key>Image/Animation/Emotions/Emotion4_start5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1511,579},{36,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{36,75}</string>
			</dict>
			<key>Image/Animation/Emotions/Emotion5_duration1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1044,646},{192,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,188}</string>
			</dict>
			<key>Image/Animation/Emotions/Emotion5_end01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1057,1},{192,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,188}</string>
			</dict>
			<key>Image/Animation/Emotions/Emotion5_end02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1057,195},{192,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,188}</string>
			</dict>
			<key>Image/Animation/Emotions/Emotion5_end03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1057,389},{192,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,188}</string>
			</dict>
			<key>Image/Animation/Emotions/Emotion5_end04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1234,621},{192,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,188}</string>
			</dict>
			<key>Image/Animation/Emotions/Emotion5_end05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1320,815},{192,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,188}</string>
			</dict>
			<key>Image/Animation/Emotions/Emotion5_end06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1247,1},{192,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,188}</string>
			</dict>
			<key>Image/Animation/Emotions/Emotion5_end07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1247,195},{192,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,188}</string>
			</dict>
			<key>Image/Animation/Emotions/Emotion5_end08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1247,389},{192,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,188}</string>
			</dict>
			<key>Image/Animation/Emotions/Emotion5_end09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1424,621},{192,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,188}</string>
			</dict>
			<key>Image/Animation/Emotions/Emotion5_end10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1510,815},{192,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,188}</string>
			</dict>
			<key>Image/Animation/Emotions/Emotion5_end11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1511,1},{192,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,188}</string>
			</dict>
			<key>Image/Animation/Emotions/Emotion5_end12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1437,274},{192,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,188}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Emotions.png</string>
			<key>realTextureFileName</key>
			<string>Emotions.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>