<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Image/ILobby/Club/bg_club_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{437,1},{255,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{255,41}</string>
			</dict>
			<key>Image/ILobby/Club/bg_item_club.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,789},{308,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{308,102}</string>
			</dict>
			<key>Image/ILobby/Club/bg_item_record.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,1},{181,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{181,150}</string>
			</dict>
			<key>Image/ILobby/Club/bg_top_club_member.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,840},{96,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,59}</string>
			</dict>
			<key>Image/ILobby/Club/btn_apply_join.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,893},{216,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,74}</string>
			</dict>
			<key>Image/ILobby/Club/btn_cjmj.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{292,392}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{292,392}</string>
			</dict>
			<key>Image/ILobby/Club/btn_cjpk.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,395},{292,392}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{292,392}</string>
			</dict>
			<key>Image/ILobby/Club/btn_club_switch.png</key>
			<dict>
				<key>frame</key>
				<string>{{371,1},{157,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{157,54}</string>
			</dict>
			<key>Image/ILobby/Club/btn_create_atonce.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,893},{216,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,74}</string>
			</dict>
			<key>Image/ILobby/Club/btn_create_club.png</key>
			<dict>
				<key>frame</key>
				<string>{{295,1},{216,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{216,74}</string>
			</dict>
			<key>Image/ILobby/Club/btn_date_change.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,1},{37,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{37,24}</string>
			</dict>
			<key>Image/ILobby/Club/btn_enter.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,939},{150,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,50}</string>
			</dict>
			<key>Image/ILobby/Club/btn_join_club.png</key>
			<dict>
				<key>frame</key>
				<string>{{295,219},{216,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{216,74}</string>
			</dict>
			<key>Image/ILobby/Club/btn_join_room.png</key>
			<dict>
				<key>frame</key>
				<string>{{371,160},{157,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{157,54}</string>
			</dict>
			<key>Image/ILobby/Club/btn_quit_club.png</key>
			<dict>
				<key>frame</key>
				<string>{{295,437},{216,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{216,74}</string>
			</dict>
			<key>Image/ILobby/Club/btn_record.png</key>
			<dict>
				<key>frame</key>
				<string>{{295,655},{216,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,74}</string>
			</dict>
			<key>Image/ILobby/Club/btn_record_select.png</key>
			<dict>
				<key>frame</key>
				<string>{{295,731},{157,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,54}</string>
			</dict>
			<key>Image/ILobby/Club/btn_record_view.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,731},{157,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,54}</string>
			</dict>
			<key>Image/ILobby/Club/btn_reflash.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,787},{216,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,74}</string>
			</dict>
			<key>Image/ILobby/Club/club_head_default.png</key>
			<dict>
				<key>frame</key>
				<string>{{371,319},{69,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,69}</string>
			</dict>
			<key>Image/ILobby/Club/title_club.png</key>
			<dict>
				<key>frame</key>
				<string>{{529,787},{149,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,51}</string>
			</dict>
			<key>Image/ILobby/Club/title_club_record.png</key>
			<dict>
				<key>frame</key>
				<string>{{664,938},{98,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,52}</string>
			</dict>
			<key>Image/ILobby/Club/title_join_club.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,969},{253,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{253,51}</string>
			</dict>
			<key>Image/ILobby/Club/title_my_club.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,969},{254,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{254,51}</string>
			</dict>
			<key>Image/ILobby/Club/btn_create_quickcreate.png</key>
			<dict>
				<key>frame</key>
				<string>{{437,863},{216,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,74}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Club.png</string>
			<key>realTextureFileName</key>
			<string>Club.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>