<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Image/ILobby/UICoin/bg_cloth_inside.png</key>
			<dict>
				<key>frame</key>
				<string>{{368,489},{123,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,98}</string>
			</dict>
			<key>Image/ILobby/UICoin/bg_cloth_outside.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,897},{107,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,123}</string>
			</dict>
			<key>Image/ILobby/UICoin/Coin_btn_exchange.png</key>
			<dict>
				<key>frame</key>
				<string>{{62,251},{143,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{143,51}</string>
			</dict>
			<key>Image/ILobby/UICoin/Coin_button_anqing_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,398},{157,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,42}</string>
			</dict>
			<key>Image/ILobby/UICoin/Coin_button_anqing_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,442},{157,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,42}</string>
			</dict>
			<key>Image/ILobby/UICoin/Coin_button_doudizhu_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,312},{157,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{157,42}</string>
			</dict>
			<key>Image/ILobby/UICoin/Coin_button_doudizhu_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,467},{157,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,42}</string>
			</dict>
			<key>Image/ILobby/UICoin/Coin_button_huaibei_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,486},{157,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,42}</string>
			</dict>
			<key>Image/ILobby/UICoin/Coin_button_huaibei_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{319,486},{157,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{157,42}</string>
			</dict>
			<key>Image/ILobby/UICoin/Coin_coin_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,986},{157,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,37}</string>
			</dict>
			<key>Image/ILobby/UICoin/Coin_enter_chuji.png</key>
			<dict>
				<key>frame</key>
				<string>{{396,1},{380,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{380,242}</string>
			</dict>
			<key>Image/ILobby/UICoin/Coin_enter_gaoji.png</key>
			<dict>
				<key>frame</key>
				<string>{{778,1},{380,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{380,242}</string>
			</dict>
			<key>Image/ILobby/UICoin/Coin_enter_wait.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{393,248}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{393,248}</string>
			</dict>
			<key>Image/ILobby/UICoin/Coin_enter_zhongji.png</key>
			<dict>
				<key>frame</key>
				<string>{{396,245},{380,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{380,242}</string>
			</dict>
			<key>Image/ILobby/UICoin/Coin_exchange.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,383},{251,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{251,94}</string>
			</dict>
			<key>Image/ILobby/UICoin/Coin_exchange_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,986},{76,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,35}</string>
			</dict>
			<key>Image/ILobby/UICoin/Coin_exchange_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,530},{95,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,50}</string>
			</dict>
			<key>Image/ILobby/UICoin/Coin_exchange_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,511},{108,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,58}</string>
			</dict>
			<key>Image/ILobby/UICoin/Coin_exchange_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,299},{85,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,70}</string>
			</dict>
			<key>Image/ILobby/UICoin/Coin_exchange_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{164,299},{97,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,74}</string>
			</dict>
			<key>Image/ILobby/UICoin/Coin_exchange_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{944,783},{103,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,71}</string>
			</dict>
			<key>Image/ILobby/UICoin/Coin_fangka.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,530},{51,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,54}</string>
			</dict>
			<key>Image/ILobby/UICoin/Coin_plus.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,561},{43,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,41}</string>
			</dict>
			<key>Image/ILobby/UICoin/Coin_quickbegin.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,636},{259,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{259,77}</string>
			</dict>
			<key>Image/ILobby/UICoin/Coin_return.png</key>
			<dict>
				<key>frame</key>
				<string>{{355,251},{59,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,39}</string>
			</dict>
			<key>Image/ILobby/UICoin/Coin_rule_anqing.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,251},{176,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,46}</string>
			</dict>
			<key>Image/ILobby/UICoin/Coin_rule_choose.png</key>
			<dict>
				<key>frame</key>
				<string>{{974,888},{99,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,49}</string>
			</dict>
			<key>Image/ILobby/UICoin/Coin_rule_doudizhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,251},{144,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{144,47}</string>
			</dict>
			<key>Image/ILobby/UICoin/Coin_rule_huaibei.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,418},{174,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,47}</string>
			</dict>
			<key>Image/ILobby/UICoin/Coin_rule_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{961,383},{231,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{231,46}</string>
			</dict>
			<key>Image/ILobby/UICoin/Coin_shuoming.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,511},{47,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,48}</string>
			</dict>
			<key>Image/ILobby/UICoin/comm_btn_closenew.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,582},{67,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,65}</string>
			</dict>
			<key>Image/ILobby/UICoin/comm_btn_green.png</key>
			<dict>
				<key>frame</key>
				<string>{{961,616},{165,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{165,59}</string>
			</dict>
			<key>Image/ILobby/UICoin/comm_btn_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,251},{165,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{165,59}</string>
			</dict>
			<key>Image/ILobby/UICoin/comm_cloth_top.png</key>
			<dict>
				<key>frame</key>
				<string>{{778,383},{601,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{601,85}</string>
			</dict>
			<key>Image/ILobby/UICoin/comm_top_tips.png</key>
			<dict>
				<key>frame</key>
				<string>{{317,986},{32,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,49}</string>
			</dict>
			<key>Image/ILobby/UICoin/comm_top_cloud.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,986},{77,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,22}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>UICoin.png</string>
			<key>realTextureFileName</key>
			<string>UICoin.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>