<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Image/ILobby/UILobby/lobby_btn_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{971,333},{35,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{35,36}</string>
			</dict>
			<key>Image/ILobby/UILobby/lobby_btn_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{621,371}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{621,371}</string>
			</dict>
			<key>Image/ILobby/UILobby/lobby_btn_copy_id.png</key>
			<dict>
				<key>frame</key>
				<string>{{944,319},{57,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,25}</string>
			</dict>
			<key>Image/ILobby/UILobby/lobby_btn_copy_txt.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,701},{103,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,53}</string>
			</dict>
			<key>Image/ILobby/UILobby/lobby_btn_help.png</key>
			<dict>
				<key>frame</key>
				<string>{{944,378},{78,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,99}</string>
			</dict>
			<key>Image/ILobby/UILobby/lobby_btn_history.png</key>
			<dict>
				<key>frame</key>
				<string>{{944,479},{78,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,99}</string>
			</dict>
			<key>Image/ILobby/UILobby/lobby_btn_msg.png</key>
			<dict>
				<key>frame</key>
				<string>{{944,580},{78,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,99}</string>
			</dict>
			<key>Image/ILobby/UILobby/lobby_btn_recharge.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,374},{96,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,85}</string>
			</dict>
			<key>Image/ILobby/UILobby/lobby_btn_setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{944,681},{78,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,99}</string>
			</dict>
			<key>Image/ILobby/UILobby/lobby_btn_share.png</key>
			<dict>
				<key>frame</key>
				<string>{{317,756},{78,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,99}</string>
			</dict>
			<key>Image/ILobby/UILobby/lobby_btn_shiming.png</key>
			<dict>
				<key>frame</key>
				<string>{{317,936},{81,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{81,66}</string>
			</dict>
			<key>Image/ILobby/UILobby/lobby_btn_shuru.png</key>
			<dict>
				<key>frame</key>
				<string>{{944,1},{316,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{316,43}</string>
			</dict>
			<key>Image/ILobby/UILobby/lobby_btn_turntable.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,461},{96,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,85}</string>
			</dict>
			<key>Image/ILobby/UILobby/lobby_icon_guang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,613},{142,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,142}</string>
			</dict>
			<key>Image/ILobby/UILobby/lobby_icon_key.png</key>
			<dict>
				<key>frame</key>
				<string>{{989,282},{49,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,33}</string>
			</dict>
			<key>Image/ILobby/UILobby/lobby_id_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{989,1},{147,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,30}</string>
			</dict>
			<key>Image/ILobby/UILobby/lobby_laba.png</key>
			<dict>
				<key>frame</key>
				<string>{{317,857},{77,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,75}</string>
			</dict>
			<key>Image/ILobby/UILobby/lobby_laba_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{901,1},{757,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{757,41}</string>
			</dict>
			<key>Image/ILobby/UILobby/lobby_logo.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,613},{334,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{334,86}</string>
			</dict>
			<key>Image/ILobby/UILobby/lobby_notice_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{624,1},{243,275}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{243,275}</string>
			</dict>
			<key>Image/ILobby/UILobby/lobby_notice_bg_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{989,150},{130,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,30}</string>
			</dict>
			<key>Image/ILobby/UILobby/lobby_title_msg.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,701},{114,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,55}</string>
			</dict>
			<key>Image/ILobby/UILobby/lobby_btn_club_new.png</key>
			<dict>
				<key>frame</key>
				<string>{{624,246},{237,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{237,156}</string>
			</dict>
			<key>Image/ILobby/UILobby/lobby_btn_coin_new.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,782},{237,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{237,156}</string>
			</dict>
			<key>Image/ILobby/UILobby/lobby_btn_create_mj_new.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,760},{237,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{237,156}</string>
			</dict>
			<key>Image/ILobby/UILobby/lobby_btn_create_poker_new.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,374},{237,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{237,156}</string>
			</dict>
			<key>Image/ILobby/UILobby/lobby_btn_game_field_new.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,374},{237,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{237,156}</string>
			</dict>
			<key>Image/ILobby/UILobby/lobby_btn_join_room_new.png</key>
			<dict>
				<key>frame</key>
				<string>{{317,374},{237,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{237,156}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>UILobby.png</string>
			<key>realTextureFileName</key>
			<string>UILobby.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>