<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Image/IRoom/CommomRoom/comm_btn_ready.png</key>
			<dict>
				<key>frame</key>
				<string>{{740,1},{185,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{185,66}</string>
			</dict>
			<key>Image/IRoom/CommomRoom/comm_btn_relogin.png</key>
			<dict>
				<key>frame</key>
				<string>{{715,121},{101,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,101}</string>
			</dict>
			<key>Image/IRoom/CommomRoom/game_btn_backLobby.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,1},{106,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{106,62}</string>
			</dict>
			<key>Image/IRoom/CommomRoom/game_btn_setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,432},{106,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,62}</string>
			</dict>
			<key>Image/IRoom/CommomRoom/game_btn_showHucards.png</key>
			<dict>
				<key>frame</key>
				<string>{{625,165},{80,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,88}</string>
			</dict>
			<key>Image/IRoom/CommomRoom/game_card_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{625,1},{83,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,125}</string>
			</dict>
			<key>Image/IRoom/CommomRoom/game_circle.png</key>
			<dict>
				<key>frame</key>
				<string>{{383,432},{81,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,81}</string>
			</dict>
			<key>Image/IRoom/CommomRoom/game_direct.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,1},{142,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,142}</string>
			</dict>
			<key>Image/IRoom/CommomRoom/game_direct_to.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,518},{96,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,46}</string>
			</dict>
			<key>Image/IRoom/CommomRoom/game_direct2.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,145},{142,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,142}</string>
			</dict>
			<key>Image/IRoom/CommomRoom/game_btn_dismiss.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,432},{106,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,62}</string>
			</dict>
			<key>Image/IRoom/CommomRoom/game_btn_gameover.png</key>
			<dict>
				<key>frame</key>
				<string>{{932,313},{246,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{246,73}</string>
			</dict>
			<key>Image/IRoom/CommomRoom/game_icon_fang.png</key>
			<dict>
				<key>frame</key>
				<string>{{813,266},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>
			<key>Image/IRoom/CommomRoom/game_icon_offline.png</key>
			<dict>
				<key>frame</key>
				<string>{{710,35},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>
			<key>Image/IRoom/CommomRoom/game_icon_ting.png</key>
			<dict>
				<key>frame</key>
				<string>{{740,224},{71,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,87}</string>
			</dict>
			<key>Image/IRoom/CommomRoom/game_icon_zhuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,496},{71,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{71,87}</string>
			</dict>
			<key>Image/IRoom/CommomRoom/game_btn_invert.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,1},{310,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{310,75}</string>
			</dict>
			<key>Image/IRoom/CommomRoom/game_btn_rule_out.png</key>
			<dict>
				<key>frame</key>
				<string>{{710,69},{50,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,118}</string>
			</dict>
			<key>Image/IRoom/CommomRoom/game_outmjtile_sign.png</key>
			<dict>
				<key>frame</key>
				<string>{{896,440},{34,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,45}</string>
			</dict>
			<key>Image/IRoom/CommomRoom/game_ready.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,266},{40,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,44}</string>
			</dict>
			<key>Image/IRoom/CommomRoom/game_titlebar_bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,359},{688,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{688,71}</string>
			</dict>
			<key>Image/IRoom/CommomRoom/game_btn_copy_roomID.png</key>
			<dict>
				<key>frame</key>
				<string>{{932,1},{310,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{310,75}</string>
			</dict>
			<key>Image/IRoom/CommomRoom/game_which_direct.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,109},{28,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,32}</string>
			</dict>
			<key>Image/IRoom/CommomRoom/game_bg_gameID.png</key>
			<dict>
				<key>frame</key>
				<string>{{691,342},{203,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{203,110}</string>
			</dict>
			<key>Image/IRoom/CommomRoom/game_bg_rule.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{236,356}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{236,356}</string>
			</dict>
			<key>Image/IRoom/CommomRoom/game_btn_rule_in.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,496},{50,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,118}</string>
			</dict>
			<key>Image/IRoom/CommomRoom/game_btn_fzb.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,432},{79,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,84}</string>
			</dict>
			<key>Image/IRoom/CommomRoom/game_wifi_signal0.png</key>
			<dict>
				<key>frame</key>
				<string>{{623,128},{44,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,35}</string>
			</dict>
			<key>Image/IRoom/CommomRoom/game_wifi_signal1.png</key>
			<dict>
				<key>frame</key>
				<string>{{669,128},{44,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,35}</string>
			</dict>
			<key>Image/IRoom/CommomRoom/game_wifi_signal2.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,432},{44,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,35}</string>
			</dict>
			<key>Image/IRoom/CommomRoom/game_wifi_signal3.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,432},{44,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,35}</string>
			</dict>
			<key>Image/IRoom/CommomRoom/game_wifi_signal4.png</key>
			<dict>
				<key>frame</key>
				<string>{{558,432},{44,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,35}</string>
			</dict>
			<key>Image/IRoom/CommomRoom/game_elec_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,289},{40,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,19}</string>
			</dict>
			<key>Image/IRoom/CommomRoom/game_elec_value.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,289},{40,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,19}</string>
			</dict>
			<key>Image/IRoom/CommomRoom/game_ting_arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{710,1},{32,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,28}</string>
			</dict>
			<key>Image/IRoom/CommomRoom/game_flag_tuoguan.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,252},{139,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,45}</string>
			</dict>
			<key>Image/IRoom/CommomRoom/game_icon_tuoguan.png</key>
			<dict>
				<key>frame</key>
				<string>{{830,69},{92,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>
			<key>Image/IRoom/CommomRoom/game_btn_qxtg.png</key>
			<dict>
				<key>frame</key>
				<string>{{601,252},{137,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,45}</string>
			</dict>
			<key>Image/IRoom/CommomRoom/game_btn_tuoguan.png</key>
			<dict>
				<key>frame</key>
				<string>{{818,163},{101,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,101}</string>
			</dict>
			<key>Image/IRoom/CommomRoom/game_round_liuJu.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,1},{163,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{163,84}</string>
			</dict>
			<key>Image/IRoom/CommomRoom/game_round_shengLi.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,166},{163,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{163,84}</string>
			</dict>
			<key>Image/IRoom/CommomRoom/game_bg_ting_tip.png</key>
			<dict>
				<key>frame</key>
				<string>{{99,518},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>Image/IRoom/CommomRoom/game_comm_bg_round.png</key>
			<dict>
				<key>frame</key>
				<string>{{896,342},{96,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,34}</string>
			</dict>
			<key>Image/IRoom/CommomRoom/game_comm_bg_round_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,566},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>Image/IRoom/CommomRoom/game_comm_btn_setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,432},{83,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,84}</string>
			</dict>
			<key>Image/IRoom/CommomRoom/game_txt_ting.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,109},{49,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,45}</string>
			</dict>
			<key>Image/IRoom/CommomRoom/game_comm_bg_rule.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,313},{691,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{691,27}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>CommomRoom.png</string>
			<key>realTextureFileName</key>
			<string>CommomRoom.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>