<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Image/IRoom/RoomTop/btnGameSetting.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,137},{157,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,42}</string>
			</dict>
			<key>Image/IRoom/RoomTop/btnRuleDesc.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,138},{157,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,42}</string>
			</dict>
			<key>Image/IRoom/RoomTop/btnRuleReturn.png</key>
			<dict>
				<key>frame</key>
				<string>{{359,138},{64,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,32}</string>
			</dict>
			<key>Image/IRoom/RoomTop/btnSettingReturn.png</key>
			<dict>
				<key>frame</key>
				<string>{{359,204},{64,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,32}</string>
			</dict>
			<key>Image/IRoom/RoomTop/HeadFlagFang.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,269},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>Image/IRoom/RoomTop/HeadFlagZhuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,333},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>Image/IRoom/RoomTop/HeadUIBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,1},{91,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,125}</string>
			</dict>
			<key>Image/IRoom/RoomTop/RoomInfoBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,55},{219,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{219,40}</string>
			</dict>
			<key>Image/IRoom/RoomTop/RoomTitleBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,1},{277,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{277,52}</string>
			</dict>
			<key>Image/IRoom/RoomTop/TitleAnQing.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,55},{201,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{201,39}</string>
			</dict>
			<key>Image/IRoom/RoomTop/TitleHuaiBei.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,97},{199,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{199,39}</string>
			</dict>
			<key>Image/IRoom/RoomTop/TopBtnDismissRoom.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,181},{101,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,54}</string>
			</dict>
			<key>Image/IRoom/RoomTop/TopBtnExitRoom.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,181},{100,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,54}</string>
			</dict>
			<key>Image/IRoom/RoomTop/TopBtnFZB.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,237},{68,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,79}</string>
			</dict>
			<key>Image/IRoom/RoomTop/TopBtnRepair.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,307},{68,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,78}</string>
			</dict>
			<key>Image/IRoom/RoomTop/TopBtnRule.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,182},{79,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{79,53}</string>
			</dict>
			<key>Image/IRoom/RoomTop/TopBtnRuleDisable.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,283},{79,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{79,42}</string>
			</dict>
			<key>Image/IRoom/RoomTop/TopBtnSetting.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,252},{79,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{79,53}</string>
			</dict>
			<key>Image/IRoom/RoomTop/TopBtnSettingDisable.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,263},{79,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{79,41}</string>
			</dict>
			<key>Image/IRoom/RoomTop/TopBtnTuoGuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,182},{68,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,77}</string>
			</dict>
			<key>Image/IRoom/RoomTop/TopRuleBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{169,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{169,134}</string>
			</dict>
			<key>Image/IRoom/RoomTop/TopElecBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{82,237},{39,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{39,20}</string>
			</dict>
			<key>Image/IRoom/RoomTop/TopElecValue.png</key>
			<dict>
				<key>frame</key>
				<string>{{82,278},{39,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{39,20}</string>
			</dict>
			<key>Image/IRoom/RoomTop/game_wifi_signal0.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,182},{27,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{27,22}</string>
			</dict>
			<key>Image/IRoom/RoomTop/game_wifi_signal1.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,211},{27,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{27,22}</string>
			</dict>
			<key>Image/IRoom/RoomTop/game_wifi_signal2.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,240},{27,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{27,22}</string>
			</dict>
			<key>Image/IRoom/RoomTop/game_wifi_signal3.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,252},{27,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{27,22}</string>
			</dict>
			<key>Image/IRoom/RoomTop/game_wifi_signal4.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,281},{27,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{27,22}</string>
			</dict>
			<key>Image/IRoom/RoomTop/TitleDoudizhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{319,138},{149,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{149,38}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>RoomTop.png</string>
			<key>realTextureFileName</key>
			<string>RoomTop.png</string>
			<key>size</key>
			<string>{1024,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>