<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Image/IRoom/UIChat/biaoqing1.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,419},{165,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{165,165}</string>
			</dict>
			<key>Image/IRoom/UIChat/biaoqing10.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,586},{165,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{165,165}</string>
			</dict>
			<key>Image/IRoom/UIChat/biaoqing11.png</key>
			<dict>
				<key>frame</key>
				<string>{{795,419},{165,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{165,165}</string>
			</dict>
			<key>Image/IRoom/UIChat/biaoqing12.png</key>
			<dict>
				<key>frame</key>
				<string>{{795,586},{165,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{165,165}</string>
			</dict>
			<key>Image/IRoom/UIChat/biaoqing2.png</key>
			<dict>
				<key>frame</key>
				<string>{{949,1},{165,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{165,165}</string>
			</dict>
			<key>Image/IRoom/UIChat/biaoqing3.png</key>
			<dict>
				<key>frame</key>
				<string>{{949,168},{165,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{165,165}</string>
			</dict>
			<key>Image/IRoom/UIChat/biaoqing4.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,335},{165,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{165,165}</string>
			</dict>
			<key>Image/IRoom/UIChat/biaoqing5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1116,1},{165,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{165,165}</string>
			</dict>
			<key>Image/IRoom/UIChat/biaoqing6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1116,168},{165,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{165,165}</string>
			</dict>
			<key>Image/IRoom/UIChat/biaoqing7.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,502},{165,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{165,165}</string>
			</dict>
			<key>Image/IRoom/UIChat/biaoqing8.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,669},{165,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{165,165}</string>
			</dict>
			<key>Image/IRoom/UIChat/biaoqing9.png</key>
			<dict>
				<key>frame</key>
				<string>{{987,836},{165,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{165,165}</string>
			</dict>
			<key>Image/IRoom/UIChat/chat_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{935,533}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{935,533}</string>
			</dict>
			<key>Image/IRoom/UIChat/chat_bg_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{747,908},{100,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,58}</string>
			</dict>
			<key>Image/IRoom/UIChat/chat_bg_left.png</key>
			<dict>
				<key>frame</key>
				<string>{{807,908},{100,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,58}</string>
			</dict>
			<key>Image/IRoom/UIChat/chat_bg_right.png</key>
			<dict>
				<key>frame</key>
				<string>{{867,908},{100,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,58}</string>
			</dict>
			<key>Image/IRoom/UIChat/chat_bg_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{927,908},{100,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,58}</string>
			</dict>
			<key>Image/IRoom/UIChat/chat_btn_send.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,908},{139,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,60}</string>
			</dict>
			<key>Image/IRoom/UIChat/chat_img_bg_input.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,938},{603,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{603,54}</string>
			</dict>
			<key>Image/IRoom/UIChat/chat_img_biaoqing_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,1},{411,416}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{411,416}</string>
			</dict>
			<key>Image/IRoom/UIChat/chat_item_bg_mid.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,832},{411,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{411,74}</string>
			</dict>
			<key>Image/IRoom/UIChat/chat_item_bg_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,419},{411,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{411,90}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>UIChat.png</string>
			<key>realTextureFileName</key>
			<string>UIChat.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>